.releaseWrapper {
  border: 1px solid #D7D7D7;
  margin: 10px;
}
.release {
  padding: 10px 10px;
}
.releaseControls {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #888;
}
.releaseTitle {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eee;
  padding: 10px;
}
.releaseComplete,
.releaseComplete a {
  text-decoration: line-through;
  color: #aaa;
  cursor: normal;
}
.releaseComponentContainer {
  font-size: 0.8em;
}