.releaseWrapper {
  border: 1px solid #D7D7D7;
  margin: 10px 0;
}
.release {
  padding: 10px 10px;
}
.releaseControls {
  background-color: #f8f8f8;
  border-top: 1px solid #eee;
  padding: 10px 10px;
  font-size: 0.8em;
  color: #888;
}
.releaseTitle {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #eee;
  padding: 10px;
}
.releaseComplete,
.releaseComplete a {
  text-decoration: line-through;
  color: #aaa;
  cursor: normal;
}
.releaseComponentContainer {
  font-size: 0.8em;
}
#release_description {
  /*width: 300px;*/
  height: 150px;
  resize: none;
}
.release .labelWrapper {
  float: left;
  margin-right: 10px;
  display: inline-block;
  text-align: right;
  width: 150px;
}
#release_component_ids {
  width: 412px;
}