<div class="grid_8 releaseWrapper">
  <div class="releaseContainer">
      <div class="releaseTitle">Editing <%= @release.name %></div>
      <%= render 'form' %>
  </div>
</div>
<div class="clear"></div>
